html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
}

.home-page {
  background: url("./img/download.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: none;
}

.toggle {
  padding: 0.7rem 1rem;
  font-size: 20px;
  border: none;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.home-body {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
}

.body-disc {
  font-size: 20px;
  color: #ec5242;
}

.home-heading {
  font-size: 32px;
  color: #ec5242;
  font-weight: 700;
}

.body-disc2 {
  padding: 2rem;
  font-size: 14px;
  background: #d3d3d3;
  border: 1px solid #fff;
}

.heading2 {
  font-size: 28px;
  font-weight: 700;
}

.about {
  background: #272a31;
  display: flex;
  flex-direction: column;
}

.about-heading {
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 3rem;
  color: #d3d3d3;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(68, 68, 68, 0.301);
  margin: 0.1rem 1rem;
}

.about-item i {
  font-size: 22px;
}

.about-item h3 {
  font-size: 18px;
  color: #ec5242;
}

.about-item p {
  font-size: 13px;
  color: #dfdddd;
}

.about-btn {
  padding: 2rem;
  font-size: 16px;
  color: #dfdddd;
  background-color: #ec5242;
  border: none;
  align-self: center;
  margin: 2rem 0;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .navbar {
    display: block;
    display: flex;
    background-color: #fff;
    font-size: 18px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }

  .navbar a {
    list-style: none;
    text-decoration: none;
    color: #272a31;
  }

  .navbar-list {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin-left: 12%;
  }

  .navbar-item a {
    list-style: none;
    text-decoration: none;
    color: #272a31;
    padding: 1rem;
  }

  .navbar button {
    border: 4px solid #ec5242;
    margin-left: 8%;
    padding: 1rem;
  }

  .navbar button a {
    color: #ec5242;
    font-weight: 700;
  }

  .toggle {
    display: none;
  }

  .home-body {
    width: 80vw;
    padding: 15rem 10rem;
    margin-left: 5rem;
    gap: 1rem;
  }

  .home-heading {
    font-size: 60px;
  }

  .home-heading span {
    display: block;
  }

  .body-disc {
    font-size: 40px;
  }

  .heading2 {
    margin-top: 3rem;
    width: 44vw;
    font-size: 40px;
  }

  .body-disc2 {
    width: 49vw;
    font-size: 20px;
  }

  .about-list {
    flex-direction: row;
    padding: 2rem 30rem;
    gap: 0;
  }

  .about-item {
    flex-direction: column;
    margin-left: 0.5px;
    padding: 2rem;
    gap: 3rem;
  }

  .about-item i {
    font-size: 34px;
  }

  .about-item h3 {
    font-size: 24px;
  }

  .about-item p {
    font-size: 16px;
    line-height: 2.2rem;
  }
}
