html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.home-page {
  background: url("./img/download.jpeg");
}

.navbar {
  display: none;
}

.toggle {
  padding: 0.7rem 1rem;
  font-size: 20px;
  border: none;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.home-body {
  padding: 4rem 2rem;
}

.body-disc {
  font-size: 20px;
  color: #ee3100;
}

.home-heading {
  font-size: 32px;
  color: #ff6b00;
}

.body-disc2 {
  padding: 1rem;
  font-size: 14px;
  background: #dfdddd;
}

.heading2 {
  font-size: 28px;
}

.about {
  background: rgb(37, 32, 32);
}

.about-heading {
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 3rem;
  color: rgb(199, 196, 196);
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: rgb(68, 68, 68);
  margin: 0.1rem 1rem;
}

.about-item i {
  font-size: 22px;
}

.about-item h3 {
  font-size: 18px;
  color: #851c02;
}

.about-item p {
  font-size: 13px;
  color: #dfdddd;
}

.about-btn {
  padding: 2rem;
  font-size: 16px;
  color: #dfdddd;
  background-color: #ee3100;
  border: none;
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}
